<!-- Footer -->
<footer class="text-lg-start bg-light">

  <!-- Section: Links  -->
  <section>
    <div class="footerColor">
      <!-- Grid row -->
      <div class="row tipografiaFooter">
        <!-- Grid column -->
        <div class= "col col-sm-2 pt-3 espacioLogo">
          <a href="primerproyectotite.com"><img src="../../assets/images/img2/logo2.png"></a>
        </div>

        <div class="col col-lg-3 pt-4 redesSocial">
          <!-- Content -->

          <h6 class="text-uppercase fw-bold mb-4">REDES Y LOCALIZACIÓN</h6>
          <p>
            Carrer Ntra. Sra. de Lourde, 34, 08750 Molins de Rei, Barcelona
            <br>
            <a href="#"><img src="../../assets/images/iconos/insta.png" alt=""></a>
            <a href="#"><img src="../../assets/images/iconos/fb.png" alt=""></a>
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col mb-4 col-sm-3 pt-4 iconosReserva">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
          RESERVAS Y CONTACTO
          </h6>
          <p>
          <img src="../../assets/images/iconos/mail.png" alt="">
          <a href="#!" class="text-reset">seafoodreynas@gmail.com</a>
          </p>
          <p>
          <img src="../../assets/images/iconos/movil.png" alt="">
          <a href="#!" class="text-reset">684759824</a>
          </p>
          <p>
          <img src="../../assets/images/iconos/movil.png" alt="">
          <a href="#!" class="text-reset">936487258</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col mb-4 pt-4 politicas">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
          PRIVACIDAD
          </h6>
          <p>
          <a href="views/includes/politicas.php" class="text-reset">Política de privacidad de datos</a>
          </p>
          <p>
          <a href="views/includes/cookies.php" class="text-reset">Cookies</a>
          </p>
          <p>
          <a href="views/includes/aviso.php" class="text-reset">Aviso legal</a>
          </p>
        </div>

      </div>
    <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3 copy" style="background-color: black; color: white;">
  © 2022 Copyright:
    <a class="text-reset fw-bold" href="primerproyectotite.com/">ReynasSeafood.com</a>
  </div>  
<!-- Copyright -->
</footer>
<!-- Footer -->