@charset "utf-8";
/* CSS Document */

/* PRINCIPAL */
@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto-slab-bold.ttf);
}

@font-face {
  font-family: "nowbold";
  src: url(../fonts/now.bold.otf);
}

@font-face {
  font-family: "nowlight";
  src: url(../fonts/now.light.otf);
}


/*HEADER*/
.headerColor {
  background: #DBCEDE;
  height: auto;
  width: auto;
}

.logo{
  padding-left: 50px;
}

/* MENUS */
.fuenteMenu1{
  margin-left:auto;
  margin-right: auto;
}

.fuenteMenu2{
  font-family: "roboto";
  color: black;
  font-size: 18px;
}


/*------------*/

/*BOTONES TIENDA HEADER*/
#botones_tienda_escritorio{
  width: 200px;
  float: right;
  padding-right: 30px;
}

#botones_tienda_escritorio a img{
  height: 45px;
  width: 45px;
  margin-left: 20px;
}

#botones_tienda_smartphone{
  visibility: hidden;
}

#botones_tienda_smartphone a img{
  height: 45px;
  width: 45px;
}

/*HEADER MOVIL*/
@media (max-width: 992px) {
  

  #botones_tienda_escritorio{
    display: none;
  }

  #botones_tienda_escritorio img{
    display: none;
  }


  #botones_tienda_smartphone{
    visibility: visible;
    float:right;
  }

  .logo{
    margin: auto;
  }

  /*MENU MOVIL*/
  .fuenteMenu1{
    transform: translatex(46%);
  }

}
/*------------*/

/* BODY INDEX */

/* BODY1 */
.body1{
  width: 100%;
  background-image: url(../images/img2/body1.png);
  background-position: 20% 60%;
}


.cartaInicio{
  padding-top: 50px;
  padding-bottom: 50px;
  right: 75px;
  left: 65px;
  padding-left: 12px;
  padding-right: 11px;
}

.cartaInicio1{
  width: auto;
}

.cartaInicio2{
  width: auto;
  margin-top: 2px;
}

.categorias{
  height: 320px;
  width: 400px;
  border: #DBCEDE 15px solid;
  margin-right: 2px;
  text-align: center;
  padding: 0px;
  align-items: center;
  cursor: pointer;
}

.categorias img{
  filter: brightness(60%);
  height: 100%;
  width: 100%;
}

.categorias a{
  text-decoration: none;
  color: white;
}

.categorias p{
  font-family: "roboto";
  font-size: 2vw;
  position: absolute;
  margin: 0%;
}


/*BODY1 MOVIL*/
@media (max-width: 992px) {
  
  .body1{
    width: 100%;
    background-image: url(../images/img2/body1.png);
    background-position: 50% 50%;
  }
  
  .cartaInicio{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  
  .cartaInicio2{
    margin-top: 0px;
  }
  
  .categorias{
    height: 100%;
    width: 100%;
    border: #DBCEDE 5px solid;
    margin-top: 2px;
  }
  
  .categorias img{
    filter: brightness(60%);
    height: 100%;
    width: 100%;
  }
  
  
  .categorias p{
    font-family: "roboto";
    color: white;
    font-size: 10vw;
    position: absolute;
    margin: 0%;
  }

}

/*****************/


/* BODY2 */
.body2{
  width: auto;
  height: 200px;
  background: #5A0C2A;
  border-color: black;
  border-top: solid;
  border-bottom: solid;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}

.body2 h1{
  font-family: "nowbold";
  color: white;
  font-size: 20px;
  margin-top: 15px;
}

.body2 img{
  width: 200px;
  height: auto;
}

.body2 p{
  font-family: "nowlight";
  color: white;
  padding-top: 15px;
}

.separador{
  border-left: 2px solid white;
  height: 145px;
  opacity: 1;
  padding: 0px;
}


/*BODY2 MOVIL*/
@media (max-width: 992px) {

  .invisibleMovil{
    display: none;
  }

  .separador{
    display: none;
  }
}




/* BODY3 */
.body3{
  width: 100%;
  height: 585px;
}

.body3 img{
  height: 100%;
  width: 100%;
  filter: brightness(70%);
}


.textoGps{
  position: absolute;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  --bs-gutter-x: 0;
}

.cuadradoTexto{
  width: 500px;
  height: 485px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #DBCEDE;
  border: black solid;
  margin-right: 50px;
  padding-right: 20px;
  padding-left: 20px;
}


.cuadradoTexto h2{
  font-family: "roboto";
  color: black;
  text-align: center;

}

.cuadradoTexto p{
  font-family: "nowlight";
  color: black;
  text-align: justify;
  font-size: 20px;
  padding-top: 10px;
}


.textoImgMovil{
  display: none;
}


.cuadradoGps{
  position: relative;
  height: 483px;
  width: 800px;
}

.cuadradoGps iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/*BODY3 MOVIL*/
@media (max-width: 992px) {

  .body3{
    height: 100%;
    height: 498px;
  }

  .textoGps{
    margin-top: 15px;
    width: 100%;
  }

  .cuadradoTexto{
    width: 100%;
    margin: 0%;
    height: 465px;
  }

  .cuadradoTexto p{
    font-size: 18px;
  }

  .textoImgMovil{
    display: contents;
  }

  
  .textoInvisibleMovil{
    display: none;
  }


  .textoImgMovil img{
    width: 130px;
    height: 130px;
    display:block;
    margin:auto;
  }

  .cuadradoGps {
    display: none;
  }

  
}


/*------------*/

/* BODY CARTA */
.cuadradoPrincipal{
  padding-left: 60px;
  padding-right: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: auto;
}

.cuadradoPrincipal h1{
  font-family: "roboto";
  text-align: center;
}


.cuadradoPrincipal h2{
  font-family: "nowlight";
}

.cuadrado1{
  background-color: #DBCEDE;
  padding-left: 20px;
  padding-top: 10px;
}

.cuaddrado1 hr{
  margin: 0%;
  height: 5px;
  background-color: black;
}


.cuadrado2{
  width: auto;
  height: auto;
  --bs-gutter-x: 0px;
  padding-bottom: 10px;
}

.cuadradoProducto{
  width: 49%;
  margin-bottom: 10px;
  background-color: #5A0C2A;
  margin-right: 10px;
}

.cuadradoImg{
  width: 50%;
}
.cuadradoImg img{
  width: 100%;
  height: 170px;
}

.cuadradoImg{
  float: left;
}

.cuadradoNomPreu{
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "nowbold";
  font-size: 20px;
  color: white;
  padding-top: 35px;
}

.cuadradoNomPreu p{
  margin: 0%;
}

.cuadradoNomPreu form{
  margin: 0%;
}

.boton-personalizado{
  text-decoration:none;
  font-size:20px;
  color:white;
  background-color: black;
  margin-top: 10px;
}
  
.boton-personalizado:hover {
  background-color:white;
  color: black;
}


/*BODY CARTA MOVIL*/
@media (max-width: 992px) {

  .cuadradoPrincipal{
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
  
  .cuadradoPrincipal h1{
    font-family: "roboto";
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 15px;
  }
  
  .cuadradoPrincipal h2{
    font-family: "nowlight";
  }

  .cuadradoProducto{
    width: 100%;
  }

  .cuadrado1{
    padding-left: 0%;
  }

  .cuadrado2{
    width: 100%;
    height: auto;
  }

  .cuadradoNomPreu{
    padding-top: 2%;
    padding-bottom: 3%;
  }
  
  
  .cuadradoImg{
    width: 40%;
    height: 100%;
    max-height: 140px;
  }

  .cuadradoImg img{
    width: 100%;
    height: 100%;
  }
  

}



/***************/

/* BODY CARRITO */
.carritoPrincipal{
  width: auto;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  border: 1px solid black;
}


.categoriasProductos{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background: #5A0C2A;
  text-align: center;
  --bs-gutter-x: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.tableCarrito{
  --bs-gutter-x: 0px;
  align-items: center;
  text-align: center;
  font-family: "nowbold";
  font-size: 20px;
}

.imgProducto{
  margin-top: 5px;
  margin-bottom: 5px;
}

.nomProducto{
  margin-top: 5px;
  margin-bottom: 5px;
}

.cantidadBotones{
  margin-top: 5px;
  margin-bottom: 5px;
}

.precioProducto{
  margin-top: 5px;
  margin-bottom: 5px;
}


.categoriasProductos h2{
  margin: 0%;
  color: white;
  font-family: "roboto";
}


.imgProducto img{
  width: 100%;
}


.boton-personalizado2{
  text-decoration:none;
  font-size:20px;
  text-align: center;
  color:white;
  background-color: black;
  margin-top: 10px;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0%;
  justify-content: center;
  align-items: center;
}
  
.boton-personalizado2:hover {
  background-color:white;
  color: black;
}


.finalizar{
  --bs-gutter-x: 0px;
  position: relative;
  width: auto;
  margin-left: 70px;
  margin-right: 70px;
  border: 1px solid black;
  margin-bottom: 50px;
}

.precioFinalProducto{
  font-family: "nowbold";
  font-size: 25px;
  display:flex;
  justify-content: center;
  align-items: center;
}


.boton-personalizado3{
  text-decoration:none;
  font-size:20px;
  color:white;
  background-color: #5A0C2A;
  padding-top: 5px;
  height: 100%;
  width: 100%;
  font-family: "nowbold";
}
  
.boton-personalizado3:hover {
  background-color:white;
  color: black;
  
}

.categoriasProductos2{
  display: none;
}


/*BODY CARRITO MOVIL*/
@media (max-width: 992px) {

  .carritoPrincipal{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .finalizar{
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .precioProducto{
    font-size: 30px;
  }

  .precioFinalProducto{
    font-size: 30px;
  }

  .categoriasProductos{
    display: none;
  }

  .categoriasProductos2{
    display: contents;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background: #5A0C2A;
    text-align: center;
    --bs-gutter-x: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "roboto";
    color: white;
    font-size: 20px;
  }

  .categoriasProductos2 h2{
    display: contents;
    font-family: "roboto";
    color: white;
    font-size: 35px;
  }

  .nada{
    display: none;
  }

}



/*******************/

/* FOOTER */
.footerColor{
  background: #DBCEDE;
  height: auto;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.espacioLogo img{
  height: 170px;
  width: 170px;
}

.tipografiaFooter h6{
  font-family: "roboto";
  color: black;
  text-align: center;
}

.tipografiaFooter p {
  font-family: "nowlight";
  color: black;
  text-align: center;
}

.redesSocial img{
  height: 35px;
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.redesSocial{
  padding-right: 90px;
}

.iconosReserva img{
  height: 20px;
  width: 20px;
}



/*FOOTER MOVIL*/
@media (max-width: 992px) {

  .footerColor{
    padding-top: 0%;
    padding-bottom: 10px;
    padding-left: 0%;
    padding-right: 20px;
  }

  .espacioLogo img{
    height: 185px;
    width: 185px;
  }

  .iconosReserva{
    display: none;
  }

  .politicas{
    display: none;
  }

  .redesSocial{
    padding-right: 0px;
    width: auto;
  }

  .redesSocial img{
    margin-top: 10px;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 10px;
  }

}

/* FOOTER TIPOGRAFIA POLITICAS/AVISO/COOKIES */
.tipografiaPoliticasCookiesAviso{
  margin: 50px;
}

.tipografiaPoliticasCookiesAviso h1{
  font-family: "roboto";
  font-size: 30px;
}

.tipografiaPoliticasCookiesAviso h2{
  font-family: "nowbold";
  font-size: 22px;
}

.tipografiaPoliticasCookiesAviso p{
  font-family: "nowlight";
  font-size: 18px;
  text-align: justify;
}

.tipografiaPoliticasCookiesAviso li{
  font-family: "nowlight";
  font-size: 18px;
  text-align: justify;
}
